.topbar {
  border: 1px solid white;
}

.gridlayout {
  grid-row: 1 / 2;
  grid-column: 1/11;
  flex-direction: row;
  justify-self: center;
  align-self: center;
}

.flexContainer {
  display: flex;
  flex-direction: row;
}
