.mainpage {
  background-color: grey;
  width: 100%;
  height: 100vh;
  margin: auto;
}

.gridlayout {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

@media screen and (max-width: 450px) {
  .mainpage {
    background-color: rgb(54, 54, 54);
  }
}

@media screen and (max-width: 600px) {
  .mainpage {
    background-color: rgb(78, 77, 77);
  }
}

@media screen and (max-width: 900px) {
  .mainpage {
    background-color: rgb(99, 98, 98);
  }
}
